<div class="row mb-3">
    <div class="col">
        <h1 class="display-4">Create Expense</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post">
            <div class="mb-3">
                <label class="form-label"></label>
                <input type="text" class="form-control" />
            </div>
        </form>
    </div>
</div>