<div class="row mb-3">
    <div class="col">
        <h1 class="display-4">Expenses</h1>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <table class="table table-sm table-bordered table-hover table-striped">
        </table>
    </div>
</div>